:root {
  font-size: 0.875rem;
  font-family: "Rubik", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  /*   font-family: "Assistant", sans-serif; */
  font-weight: 200;
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --black: #000;
  --greypre: #f2f2f2;
  --lightblue: #47d3e5;
  --greybutton: #c0c0c0;
  --greybutton: #c0c0c0;
  box-sizing: border-box;
  color: #000;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}
.container-header {
  width: 100%;
  height: 600px;
}

.text-header {
  width: 65%;
  height: 100%;
  float: left;
  padding: 100px 200px;
}
.img-header {
  float: left;
  width: 35%;
  height: 100%;
}
.img-header img {
  width: 100%;
  height: 100%;
}

.header-bold{
  margin-bottom: 0.5em ;
  font-size: xx-large;
  font-weight: 900;
}
.symbols{
  font-weight: 1200;
}
.red-code{
  color: red ;
  font-weight: 900;
}
.text-italic{
  font-style: italic;
}
.parrafo1{
  font-size: 1.5em;
  margin-bottom: 2em ;
}
.parrafo2{
  font-size: 1rem;
  margin-bottom: 2em;
}
.button-header{
  border: solid var(--greybutton) .75px;
  border-radius: 20px;
  margin: 10px;
  padding: 15px 30px;
  background-color: transparent;
  font-size: small;
}
.images-spotlight{
  width: 100%;
  height: 330px;
    
}
.img-left{
  width: 20%;
  height: 100%;
  float: left;
}

.img-left img,
.img-right img{
  width: 100%;
  height: 100%;  
}
.text-spotlight{
  padding: 5em 2em ;
  width: 80%;
  float: left;
  line-height: 150%;
}
.text-spotlight h2{
  margin-bottom: 1em;
}
.img-right{
  width: 20%;
  height: 100%;
  float: left;
}
.text-gallery{
  text-align: center;
  width: 100%;
  height: 400px;
  margin: 50px 0px;
}
.text-gallery h2, .text-gallery p{
  text-align: center;
}
.images-gallery{
  margin-top: 2rem;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
}

.images-gallery > div > img {
  width: 100%;
}